<div *ngIf="!cart">
  <span>Empty cart</span>
</div>


 <!-- <button (click)="clearCart()" class="btn btn-primary">clear cart</button>
  <div>
    Total : <span>{{bestOffer.calcul}}€</span> <span class="line margin-left">{{totalCart}}€</span>
  </div>

  <div>
    Discount : {{textDiscount}}
  </div>-->

<div *ngIf="cart">
  <div class="row align">
    <div *ngFor="let product of cart, let i = index" class="margin">
      <app-cart-book [book]="product" [index]="i" (onBookDeleted)="removeToCart($event)"></app-cart-book>
    </div>
  </div>

</div>
